<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/style.css">
    <title >Change the name of the script</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <form id="add-script">
        <div>
            <label>Enter the new name of the copy</label>
            <br>
            <input type="text" id="title" minlength="1" autocapitalize="off" autofocus>
        </div>
        <button type="submit" id="changeName">Create</button>
    </form>
    <script>
        const electron = require('electron');
        const { ipcRenderer } = require('electron');
        let form = document.querySelector('form');

        form.addEventListener('submit', e =>{
            e.preventDefault();
            //let newTitle = document.getElementById('title').value + '.json';
            let newTitle = document.getElementById('title').value;
            var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
            if(format.test(newTitle)||newTitle==''){
                alert('Please introduce a valid name without special characters.')
                return true;
            } else {
                ipcRenderer.send('name-changed', newTitle);
                return false;
            };
        });
        ipcRenderer.on('name-changed',(e,args)=>{
            if(args.valid){
                alert(args.message);
                window.close();
            }else{
                alert(args.message);
            }
            
        });
    </script>
</body>
</html>