:root {
  font-size: 12pt;
  font-family: 'Roboto Mono', monospace;
  --text-primary: #ff4f19;
  --text-secondary: #ececec;
  --orange-secondary:#F55D3E;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body{
  margin: 0%;
  padding: 0%;
  /*background-color:#2B2B2B;*/
  background-color: rgba(0, 0, 0, 0.876);
}

/*body::-webkit-scrollbar{*/
body::-webkit-scrollbar{
  width: 0.20rem;
}
body::-webkit-scrollbar-track{
  background-color: black;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--text-primary);
}

/*-------------------------------------Printing settings----------------------------------*/
@page{
  size: A4;
  margin: 0;
}

@media print{
  body * {
    visibility: hidden;
  }
  .print-content, .print-content * {
    padding: 0;
    visibility: visible;
  }
};
.mystyle{
    font-family: 'Courier Prime', monospace;
    background-color: salmon;
    width: 50px;
    height: 50px;
    margin-left: 50%;
    text-justify: inter-word;
}

#container{
  margin-left: 0;
  margin-right: 0;
  display: -webkit-flex;
}

#banner{
  width:100%;
  height: 6%;
  background-color:#111;
  position: fixed;
  display: flex;
  z-index: 2;
}
#banner span{
  font-size: 1.25rem;
  text-align: center;
  padding-left: 20px;
}
#banner a{
  text-decoration: none;
  cursor: pointer;
}

#fa-question{
  font-size: 1.5rem; 
  color:var(--text-primary);
  padding-top: 0.5rem; 
  padding-left: 0.5rem; 
}
#fa-question .tooltiptext1 {
  visibility: hidden;
  width: 200px;
  font-family:'Roboto Mono', monospace;
  font-size: 1rem;
  background-color: var(--text-primary);
  color: #111;
  text-align: left;
  /* Position the tooltip text */
  position: absolute;
  text-transform: lowercase;
  z-index: 3;
  /*margin-left: -60px;*/
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
#fa-question:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}
button{
  height: 2rem;
  width: 10rem;
  background-color: #111;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 1px;
  margin-top: 5px;
  border: none;
  border-radius: 12px;
}
button:hover{
  background-color: aquamarine;
  color: #111;
}
/*Containers inside the banner*/
#scripts{
  display: flex;
  width: 14.4%;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}
#colapse-icon{
  padding-left: 10px;
  font-size: 30px;
  color:var(--text-primary) ; 
}
#times-icon{
  padding-right: 10px;
  font-size: 40px;
  color: #111;
}
#script-sidebar{
  color: #fff;
  text-decoration: none;
}

.title-tools{
  display:flex;
  position: relative;
  justify-content: space-evenly;
  height: 2rem;
  cursor: pointer;
}

.title-tools i{
  font-size: 0.90rem;
  margin-top: 0.75rem;
  width: 3rem;
  color: white;
  display: none;
}
.title-tools a{
  font-size: 0.90rem;
  margin-top: 8px;
  width: 3rem;
  color: white;
  display: none;
}
.title-tools i:hover{
  color: black;
}

.title-tools a .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--text-primary);
  color: #111;
  text-align: left;
  /* Position the tooltip text */
  position: absolute;
  text-transform: lowercase;
  z-index: 1;
  /*margin-left: -60px;*/
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.title-tools a:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fas fa-arrow-down:target{
  transform: rotate(180deg);
}

#title{
  flex: 2;
  text-align: right;
  padding-right: 22%;  
  overflow: hidden;
}
#title a{
  font-size: 15px;
  padding-left: 10px;
}
#script-title{
  font-family: 'Roboto Mono', monospace ;
  font-size: 15px;
  color: white;
}

#search-module{
  margin-top: 10px;
  visibility: hidden;
  z-index: 2;
}
#search-module a{
  size: 1rem;
  /*color: #1ed760;*/
  color:var(--text-primary);
}
#btns{
  display: flex;
  justify-content: center;
  width: 10%;
  flex: 1;
}

#mySidebar{
  width: 0;
  height: 100vh;
  margin-left: 0;
  margin-top: 2.80%;
  background-color: #111;
  position: fixed;
  transition: width 300ms ease;
}

#mySidebar a {
  padding-left: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#mySidebar a:hover {
  color: black;
}

#mySidebar ul{
  margin-left: 0%;
  padding-left: 0%;
}

#mySidebar li{
  font-size: 18px;
  color: white;
  text-align: center;
  width: 100%;
  height: 4 rem;
  margin-left: 0%;
  overflow: hidden;
  list-style-type: none;
  cursor: pointer;
}

#mySidebar li:hover {
  color: black;
  background-color:var(--text-primary) ;
}

#scenes{
  width: 15rem;
  height: 2rem;
  margin-left: 84%;
  background-color: #111;
  position: fixed;
  transition: length 300ms ease;
}


#scenes a {
  padding-left: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#scenes a:hover {
  color: black;
}

#scenes ul{
  margin-left: 0%;
  padding-left: 0%;
}

#scenes li{
  font-size: 18px;
  color: white;
  text-align: center;
  width: 85%;
  overflow: hidden;
  list-style-type: none;
  cursor: pointer;
}

#scenes li:hover {
  color: black;
  background-color:var(--text-primary);
}

#plus-icon{
  padding-left: 10px;
  font-size: 40px;
  color: #111;
}

#img-placeholder{
  height: 400px;
  width: 400px;
  margin-left: 35%;
  margin-top: 9%;
}

#page{
  width: 100%;
  height: 1000%;
  background-color: white;
}

#content{
  /*box-shadow: rgb(130, 130, 130) 0px 5px 4px 1px;*/
    hyphens: none;
    display: none;
    position: relative;
    z-index: 1;
    user-select: inherit;
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: white;
    font-family: "Courier Prime", Courier, monospace;
    overflow-wrap: break-word;
    transform-origin: 50% 0px 0px;
    color: rgb(0, 0, 0);
    transform: scale(1);
    margin-right: auto !important;
    margin-left: auto !important;
    height: 95% !important;
    width: 586px !important;
    overflow: hidden;
    padding: 96px 91px 25% 139px;
    transform: scale(1.0);
}

/*Toolvbar style*/
#toolbar{
  font-family:'Roboto Mono', monospace ;
  font-weight: bold;
  display: flex;
  position: fixed;;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 2rem;
  height: 55%;
  z-index: 2;
  padding-bottom: 10px;
  margin-left: 81%;
  margin-top: 15%;
  cursor: pointer;
  background-color:#111;
}
#toolbar div{
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
#toolbar div:hover{
  background-color: var(--text-primary);
  color: #111;
}
#toolbar a{
  text-align: center;
  color: var(--text-primary);
  margin-top: 20px;
  width: 100px;
}
#toolbar a:hover{
  color: #111;
  background-color: var(--text-primary);
}
.tool .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--text-primary);
  color: #111;
  text-align: left;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /*margin-left: -60px;*/
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/*Script elements styles*/
.character{
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    margin-top: 10px;
    margin-left: 35%;
    text-justify: inter-word;
    break-inside: avoid;
    user-select: inherit;
}
.character:empty::before{
  content:attr(data-placeholder);
  color:gray
}

.parenthesis{
  font-family: 'Courier Prime', monospace;
  width: 40%;
  margin-top: 5px;
  margin-left: 28%;
  text-justify: inter-word;
  break-inside: avoid;
  user-select: inherit;
}
.parenthesis:empty::before{
  content:attr(data-placeholder);
  color:gray
}

.dialog{
  font-family: 'Courier Prime', monospace;
  width: 63%;
  margin-left: 20%;
  margin-right: 20%;
  text-justify: inter-word;
  break-inside: avoid;
  user-select: inherit;
}
.dialog:empty::before{
  content:attr(data-placeholder);
  color:gray
}
.location{
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(211, 211, 211);
    width: 100%;
    margin-top: 10px;
    break-inside: avoid;
    user-select: inherit;
}
.location:empty::before{
  content:attr(data-placeholder);
  color:gray
}

.neutral{
    font-family: 'Courier Prime', monospace;
    /*background-color: rgb(248, 232, 85);*/
    width: 100%;
    margin-top: 10px;
    break-inside: avoid;
    user-select: inherit;
}
.neutral:empty::before{
  content:attr(data-placeholder);
  color:gray
}

.text{
    font-family: 'Courier Prime', monospace;
    /*background-color: rgb(248, 232, 85);*/
    width: 100%;
    margin-top: 10px;
    break-inside: avoid;
    user-select: inherit;
}
.text:empty::before{
  content:attr(data-placeholder);
  color:gray
}
.transition{
    font-family:'Courier Prime', monospace ;
    text-transform: uppercase;
    text-align: right;
    /*background-color: lightslategray;*/
    margin-top: 10px;
    width: 100%;
    break-inside: avoid;
    user-select: inherit;
}
.transition:empty::before{
  content:attr(data-placeholder);
  color:gray
}

.scene{
  font-family:'Courier Prime', monospace ;
  color: var(--text-primary);
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  /*background-color:var(--text-primary);*/
  margin-top: 10px;
  width: 100%;
  break-inside: avoid;
  user-select: inherit;
}
.scene:empty::before{
content:attr(data-placeholder);
color:black;
}

#credit{
  font-size: 15px;
  margin-left: 35%;
  margin-top: 5%;
  color: white;
  position: relative;
}

#add-script{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  padding: 20px 0 10px 0;
  background-color: #141418;
  color: white;
  font-family:'Roboto Mono', monospace;
  font-size: 18px;
}

#add-script input{
  margin-top: 2rem;
}

/*Responisve media screen*/
@media screen and (max-width:685px){
  #toolbar{
    margin-left: 96%;
  }
  #script-title{
    font-size: 0.5rem;
  }
}

/*---------------------------------------Hamburger menu CSS-------------------------------*/
#menu-wrapper {
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    max-width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 50%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: var(--text-primary);
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}

#menu-wrapper a{
  font-size: 1.5rem;
  width: 100%;
  color: var(--text-primary);
  visibility: hidden;
  margin: 10px;
}

#menu-wrapper  i{
  color: var(--text-primary);
  font-size: 1.5rem;
  padding-top: 10px;
  padding-left: 20px;
  visibility: hidden;
}

#menu-wrapper  i .tooltiptext1 {
  visibility: hidden;
  width: 200px;
  font-family:'Roboto Mono', monospace;
  font-size: 1rem;
  background-color: var(--text-primary);
  color: #111;
  text-align: left;
  /* Position the tooltip text */
  position: absolute;
  text-transform: lowercase;
  z-index: 3;
  /*margin-left: -60px;*/
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
#menu-wrapper  i:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 0.80rem;
}

#menu-container .menu-list {
    padding-left: 0;
    margin-top: 2.5rem;
    display: block;
    font-family: 'Roboto Mono',monospace;
    position: fixed;
    width: 14rem;
    height: 100%;
    max-width: 220px;
    background: black;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 2;
    overflow-y: scroll;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list::-webkit-scrollbar{
  width: 0.20rem;
}
#menu-container .menu-list::-webkit-scrollbar-track{
  background-color: black;
}
#menu-container .menu-list::-webkit-scrollbar-thumb{
  background-color: var(--text-primary);
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    /*border-top: 1px solid #dbdcd2;*/
    border-top: 1px solid black;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

#menu-container .menu-list .head:hover{
  color: var(--text-primary);
}

#menu-container .menu-list a:hover{
  color: #111;
}

#menu-container .menu-list div:hover{
  background-color: var(--text-primary);
  color: #111;
}

#menu-container ul{
  list-style: none;
  background-color: #111;
}

#menu-container a { 
  text-decoration: none; 
  color: white;
  cursor: pointer;
  text-transform: capitalize;
};

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

  .accordion-content {
    display: none;
}

.accordion-toggle.active-tab {
  background: var(--text-primary);
  transition: all 0.3s ease;
}
.accordion-toggle a.active:before {
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}

/*--------------------------------- Toggle Switch CSS------------------------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-top: 0.35rem;
  margin-left: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: aquamarine;
}

input:focus + .slider {
  box-shadow: 0 0 1px aquamarine;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}